{% extends 'base.html.twig' %}

{% block container %}
<!-- BANNER -->
<header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <div class="graybox">
                        <h1 class="masthead-heading mb-0">La <span class="text-primary">montagne</span></h1>
                        <h2 class="masthead-subheading mb-0">attend tes tricks</h2>
                    </div>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#repere">Apprendre</a>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
</header>

{% include "includes/_alerts.html.twig" %}

<!-- TRICKS -->
<section class="my-3">
<div class="container">
<div id="repere" class="row d-flex justify-content-center justify-content-lg-start">
    {% for trick in tricks %}
    <div class="col-11 col-md-4 col-lg-3 mb-3">
        <div class="card">
            {% set bannerMedia = medias[trick.id] %}
            {% if bannerMedia is not empty and bannerMedia[0].banner == true %}
                {% for media in medias[trick.id] %}
                    <img src="{{ media.url|raw }}" class="card-img-top image-height" alt="{{ trick.name }}">
                {% endfor %}
            {% else %}
                <img src="/pictures/image-snowboard-card.jpeg" class="card-img-top image-height" alt="Pas encore d'image du Trick">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ trick.name }}</h5>
                <div class="d-flex align-items-center justify-content-between">
                    <a href={{ path('app_trick_show', {name: trick.name}) }} class="btn btn-primary">On y va</a>
                    <div class="d-flex align-items-center">
                    {% if app.user %}
                        <a href="#" class="mx-4"><i class="bi bi-pencil"></i></a>
                        <button type="button" class="btn btn-white p-0" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ trick.id }}">
                            <i class="bi bi-trash-fill"></i>
                        </button>

                        <div class="modal fade" id="exampleModal-{{ trick.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                            <div class="modal-body">
                                Hop hop hop ! Tu veux <b>VRAIMENT</b> supprimer ce trick ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" data-bs-dismiss="modal">Annuler</button>
                                <a href="{{ path('app_trick_delete', {id: trick.id}) }}"><button type="button" class="btn btn-primary">Supprimer</button></a>
                            </div>
                            </div>
                        </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
</section>

{% endblock %}