{% extends 'base.html.twig' %}

{% block title %}
  SnowTricks | Créer un trick
{% endblock %}

{% block container %}
<div id="create-page" class="d-flex flex-column justify-content-center align-items-center">

<h1 class="text-center mt-4">Poser son trick</h1>
<div class="text-center">
    <img src="/pictures/snow-create-trick.jpeg" alt="Nouveau trick" height="90px">
  </div>

<div class="row mt-3 col-11 col-md-8 col-lg-4 my-3">

        {{ form_start(form) }}
        {{ form_label(form.name, 'Nom du trick') }}
        <div class="mb-3">
            <div class="form-group">
                {{ form_widget(form.name) }}
            </div>
        </div>
        {{ form_label(form.groupId, 'Type de figure') }}
        <div class="mb-3">
            <div class="form-group">
                {{ form_widget(form.groupId) }}
            </div>
        </div>
        {{ form_label(form.description, 'Description du trick') }}
        <div class="mb-4">
            <div class="form-group">
                {{ form_widget(form.description) }}
            </div>
        </div>
        {{ form_label(form.medias, 'Une photo (= url) ? Une vidéo (= iframe) ?') }}
        <div class="mb-4">
            <div class="form-group">
                {{ form_widget(form.medias) }}
            </div>
        </div>

        <p class="text-center">
            <button class="btn btn-primary" type="submit">Créer le trick</button>
        </p>

        {{ form_end(form) }}
        
    </div>

</div>
{% endblock %}