{% extends 'base.html.twig' %}

{% block container %}
  <div class="bg-image d-flex justify-content-center align-items-center" style="
    background-image: url(
      {% if trickbanner[trick.id] is not empty  %}
        {% set bannerMedia = trickbanner[trick.id][0] %}
        {{ asset('uploads/' ~ bannerMedia.url|raw) }}
      {% else %}
        '/pictures/image-snowboard-banner.jpg'
      {% endif %}
    );
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
  ">
    <div style="
    background-color: black;
  opacity: 0.7;
  ">
      <h1 class="masthead-heading mb-0 px-2 py-1 text-light">Trick : {{ trick.name }}</h1>
    </div>
    {% if app.user %}
      <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal" style="position: absolute; top: 80px; right: 10px;">
        <i class="bi bi-trash-fill"></i>
      </button>

      <a class="btn btn-primary" style="position: absolute; top: 80px; right: 65px;" href="{{ path('app_trick_update', {name: trick.name}) }}"><i class="bi bi-pencil"></i></a>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                            <div class="modal-body">
                                Hop hop hop ! Tu veux <b>VRAIMENT</b> supprimer ce trick ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" data-bs-dismiss="modal">Annuler</button>
                                <a href="{{ path('app_trick_delete', {id: trick.id}) }}"><button type="button" class="btn btn-primary">Supprimer</button></a>
                            </div>
                            </div>
                        </div>
        </div>
    {% endif %}
  </div>

{% include "includes/_alerts.html.twig" %}

  <section class="bg-dark">
    <!-- MEDIAS LIST -->
    <div class="container py-5">
      <p class="mb-0 text-center d-md-none margin-play">
        <button class="btn btn-primary btn-show-images">Afficher les médias</button>
      </p>
      <div class="row justify-content-around media-row d-md-flex d-none">
        {% for item in medias %}
          <div class="col-10 col-md-4 col-lg-4 mb-4 mb-md-0">
            <div class="d-flex justify-content-center media-container">
              {% if item['type'] == "video" %}
                  <div class="embed-responsive embed-responsive-16by9 media-element rounded">
                    {{ item['source']|raw }}
                  </div>
              {% else %}
                <img src="{{ asset('uploads/' ~ item['source']|raw) }}" alt="Media" class="img-fluid media-element rounded" />
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <article class="container mt-5">
    <p>{{ trick.description }}</p>

    <ul class="d-flex flex-column flex-md-row align-items-center justify-content-center list-unstyled">
      <li class="badge text-bg-primary p-2 m-2">Créé le {{ trick.published | date('d/m/Y') }}</li>
      <li class="badge text-bg-info p-2 m-2">Catégorie : {{ trick.groupId.name }}</li>
      <li class="badge text-bg-primary p-2 m-2">Mis à jour le {{ trick.lastUpdate | date('d/m/Y') }}</li>
    </ul>
  </article>

<section class="bg-light">
  <div class="d-flex justify-content-center border-top border-bottom border-dark bg-white">
      <h2 class="my-2">Espace de discussion</h2>
  </div>
  {% if app.user %}
    {{ form_start(form) }}
      <div class="my-4 col-md-10 col-11 mx-auto">
        <div class="form-group text-center">
          {{ form_widget(form.content) }}
        </div>
      </div>
    <div class="d-flex align-items-center justify-content-center my-4">
      <button type="submit" class="btn btn-primary mx-1">Commenter</button>
    </div>
    {{ form_end(form) }}
  {% endif %}

  <div class="container">
    <div class="my-3">
      {% for item in discussion %}
      <div class="card m-2">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img src="/pictures/avatar.png" alt="Avatar" width="20px">
              <span class="card-title h5 mb-0 mx-2">{{ item.userId.username }}</span>
            </div>
            <div>
              <span>{{ item.creationDate | date('d/m/Y') }}</span>
              {% if app.user and app.user.id == item.userId.id %}
                <a href="{{ path('app_discussion_delete', {id: item.id}) }}"><button type="button" class="btn btn-primary"><i class="bi bi-trash-fill"></i></button></a>
              {% endif %}
            </div>
          </div>
          <p class="card-text mb-0">{{ item.content }}</p>
        </div>
      </div>
      {% endfor %}

      <div class="pagination d-flex justify-content-center align-items-center">
          <ul>
              {% if current_page > 1 %}
                  <li class="list-unstyled"><a class="btn btn-primary" href="{{ path('app_trick_show', {'slug': slug, 'page': current_page - 1}) }}">Précédent</a></li>
              {% endif %}
              
              {% if current_page < discussion.count // 10 + 1 %}
                  <li class="list-unstyled"><a class="btn btn-primary" href="{{ path('app_trick_show', {'slug': slug, 'page': current_page + 1}) }}">Suivant</a></li>
              {% endif %}
          </ul>
      </div>

    </div>
  </div>
</section>

{% endblock %}
