{% extends 'base.html.twig' %}

{% block container %}
<div class="bg-image d-flex justify-content-center align-items-center" style="
    background-image: url(
      {% if trickbanner[trick.id] is not empty  %}
        {% set bannerMedia = trickbanner[trick.id][0] %}
        {{ bannerMedia.url|raw }}
      {% else %}
        '/pictures/image-snowboard-banner.jpg'
      {% endif %}
    );
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
  ">
    <div style="
    background-color: black;
  opacity: 0.7;
  ">
      <h1 class="masthead-heading mb-0 px-2 py-1 text-light">Update : {{ name }}</h1>
    </div>
  </div>

  {% include "includes/_alerts.html.twig" %}

  <section class="bg-dark">
    <!-- MEDIAS LIST -->
    <div class="container py-5">
      <p class="mb-0 text-center d-md-none margin-play">
        <button class="btn btn-primary btn-show-images">Afficher les médias</button>
      </p>
      <div class="row justify-content-around media-row d-md-flex d-none">
        {% for item in medias %}
          <div class="col-10 col-md-4 col-lg-4 mb-4 mb-md-0">
            <div class="d-flex justify-content-center media-container">
              {% if item['type'] == "video" %}
                  <div class="embed-responsive embed-responsive-16by9 media-element rounded">
                    {{ item['source']|raw }}
                  </div>
              {% else %}
                <img src="{{ item['source']|raw }}" alt="Media" class="img-fluid media-element rounded" />
              {% endif %}
            </div>
            <div class="d-flex align-items-center justify-content-end mt-2">
                <a href="{{ path('app_media_delete', {id: item['id']}) }}"class="btn btn-info mx-2"><i class="bi bi-trash"></i></a>
                {% if item['type'] == "image" and item['banner'] == false %}
                  <a href="{{ path('app_trick_banner', {id: item['id']}) }}" class="btn btn-secondary"><i class="bi bi-star"></i></a>
                {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <article class="container my-5">
    
    <ul class="d-flex flex-column flex-md-row align-items-center justify-content-center list-unstyled">
      <li class="badge text-bg-primary p-2 m-2">Créé le {{ trick.published | date('d/m/Y') }}</li>
      <li class="badge text-bg-info p-2 m-2">Catégorie : {{ trick.groupId.name }}</li>
      <li class="badge text-bg-primary p-2 m-2">Mis à jour le {{ trick.lastUpdate | date('d/m/Y') }}</li>
    </ul>
  </article>

  <div class="d-flex align-items-center justify-content-center my-4">
    <button class="btn btn-danger mx-1" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-trash"></i>Supprimer le trick</button>
    <button class="btn btn-success mx-1"><i class="bi bi-check"></i>Mettre à jour</button>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                            <div class="modal-body">
                                Hop hop hop ! Tu veux <b>VRAIMENT</b> supprimer ce trick ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" data-bs-dismiss="modal">Annuler</button>
                                <a href="{{ path('app_trick_delete', {id: trick.id}) }}"><button type="button" class="btn btn-primary">Supprimer</button></a>
                            </div>
                            </div>
                        </div>
    </div>
{% endblock %}